/* Your custom styles */
.navbar{
  visibility: hidden;
}
.nav-left{
    /* padding-left: 6em; */
}
.nav-left .navbar{
    visibility: visible;
    /* width: 6em; */
    /* height: 10%; */
    position: fixed;
    /* right: -100%; */
    left: 0;
    /* right: 100%; */
    bottom: 0;
    /* padding: 0 !important; */
    text-align: center;
    /* transition: height 1s; */
    animation-duration: .5s;
    animation-name: left-in;
    min-width: 4.75rem;
    min-height: 4.5rem;
}
.nav-left .navbar-brand,.nav-right .navbar-brand{
    margin-right: 0;
    display: block;
    width: 100%;
}
.nav-left .navbar-brand strong{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.nav-right .navbar-brand strong{
  /* writing-mode: vertical-lr; */
  writing-mode: vertical-rl;
}
.nav-left .navbar-toggler,.nav-right .navbar-toggler{
    /* display: block; */
    width: 100%;
}
.nav-left .navbar-toggler,.nav-right .navbar-toggler{
  /* display:none; */
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}
.nav-left .collapse,.nav-right .collapse{
  /* display:block; */
}
.nav-top .collapse-shown{
  width:100%;
}
.nav-left .collapse-shown,.nav-right .collapse-shown{
  height:100%;
}
.nav-right{
    /* padding-right: 6em; */
}
.nav-right .navbar{
    visibility: visible;
    /* width: 6em; */
    /* height: 100%; */
    position: fixed;
    right: 0;
    /* top:0; */
    bottom: 0;
    /* padding: 0 !important; */
    text-align: center;
    animation-duration: .5s;
    animation-name: right-in;
    min-width: 4.75rem;
    min-height: 4.5rem;
}
.nav-top{
    /* padding-top: 8em; */
}
.nav-top .navbar{
    visibility: visible;
    /* height: 8em; */
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0; */
    
    animation-duration: .5s;
    animation-name: top-in;
}
.nav-left .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    /* height: 100%; */
}

@media (max-width: 991px) {
  .nav-top > .container,
  .nav-top > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .nav-top {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .nav-top .navbar{

    width: 100%;
  }
  .nav-top .navbar-nav {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .nav-top .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .nav-top .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .nav-top .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .nav-top > .container,
  .nav-top > .container-fluid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .nav-top .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .nav-top .navbar-toggler {
    display: none;
  }
  .nav-top .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
}

.icon {
    /* width: 1.5em; */
    height: 1.5em;
}

@media (min-width: 600px){
  .navbar.scrolling-navbar {
      -webkit-transition: left .5s ease-in-out,right .5s ease-in-out,top .5s ease-in-out,bottom .5s ease-in-out,background .5s ease-in-out,padding .5s ease-in-out;
      transition: left .5s ease-in-out,right .5s ease-in-out,top .5s ease-in-out,bottom .5s ease-in-out,background .5s ease-in-out,padding .5s ease-in-out;
      padding-top: 12px;
      padding-bottom: 12px;
  }
}
.nav-fill .navbar{
    left: -100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
}


@keyframes left-in {
  from {
    left:-100%; 
  }

  to {
    left: 0;
  }
}
@keyframes top-in {
  from {
    top:-100%; 
  }

  to {
    top: 0;
  }
}
@keyframes right-in {
  from {
    right:-100%; 
  }

  to {
    right: 0;
  }
}

.collapse-backdrop.fade {
    opacity: 0;
    display:none;
}
.collapse-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #000;
}
.collapse-backdrop.show {
    display:block;
    opacity: .5;
}
.collapse-shown .navbar-toggler-icon{background-image: initial;}
.collapse-shown .navbar-toggler-icon:before{
  content: "✕";
  font-size: 1.5em;
}